.hero{
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: calc(120px + 150px);
    padding-bottom: 40px;
    height: 100vh;
    min-height: 800px;

}
.hero__title{
    max-width: 936px;
    margin: 0 0 30px 0;

    font-weight: 600;
    font-size: 96px;
    line-height: 116px;
    color: var(--color-light);

}
.hero__text{
    margin-bottom: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-light);
}
.about{
    padding-top: var(--offset);
    margin-bottom: var(--offset);
}

.completed__descr{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
}
.completed__value{
    font-weight: 300;
    font-size: 64px;
    line-height: 140%;
    color: var(--color-dark);
}
.about__item:not(:last-child){
    margin-bottom: 30px;
}
.about__text-big {
    margin: 0 0 60px 0;
    font-weight: 700;
    font-size: 44px;
    line-height: 140%;
    color: var(--color-dark);

}
.about__text-small-1 {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);
}
.video{
    margin-bottom: var(--offset);
}
.video__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    position: relative;
    width: 100%;
    height: 630px;
    overflow: hidden;
}

.video__container video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video__play{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.video__play svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio{
    margin-bottom: var(--offset);
}
.portfolio-item:not(:last-child){
    margin-bottom: 120px;
}
.portfolio-item__title{
    margin: 0 0 20px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    color: var(--color-grey);
}
.portfolio-item__descr{
    margin: 0 0 60px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);
}
.portfolio-item__col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.portfolio-item--reverse .portfolio-item__col:first-child{
    order: 2;
}
.portfolio-item--reverse .portfolio-item__col:last-child{
    order: 1;
}
.quote{
    margin-bottom: var(--offset);
}
.quote__container{
    display: grid;
    grid-template-columns: 70%;
}
.quote__title{
    margin: 0 0 50px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
}
.quote__content{
    margin: 0 0 30px 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 150%;
    color: var(--color-dark);
}
.quote__author{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);
}
.quote__author span{
    opacity: 0.5;
}
.services__image{
    width: 100%;
    height: 900px;
    object-fit: cover;
    margin-bottom: var(--offset);
}
.services{
    margin-bottom: var(--offset);
}
.services__item{
    border-top: 1px solid rgba(29, 29, 31, 0.4);
}
.services-item__title{
    margin: 0;
    padding: 40px 0 70px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 130%;
    color: var(--color-dark);
}
.services__descr{
    margin: 0;
    padding: 40px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-grey);
}